$font: 'Overpass', sans-serif;

$orange-500: hsl(25, 97%, 53%);
$white: hsl(0, 100%, 100%);
$grey-500: hsl(217, 12%, 63%);
$grey-900: hsl(213, 19%, 18%);
$grey-950: hsl(216, 12%, 8%);
$button-bg: hsl(210, 14%, 22%);

@mixin section {
  margin: auto 23px;
  background-color: $grey-900;
  border-radius: 20px;
}

@mixin header{
  color: $white;
  font-size: 23px;
  font-weight: 500;
  margin: 20px 0;
}

@mixin text{
  color: $grey-500;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

@mixin rating-option{
  border: none;
  border-radius: 50%;
  background-color: $button-bg;
  color: $grey-500;
  padding: 13px 17px;
  font-family: $font;
  font-size: 13px;
  font-weight: 500;
}

@mixin active-btn {
  background-color: $white;
  color: $grey-900;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $font;
  background-color: $grey-950;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-state{
  @include section;
  display: block;
  // display: none;
  padding: 23px;

  figure{
    margin: 0;
    background-color: $button-bg;
    border-radius: 50%;
    width: 37px;
    height: 38px;

    img{
      margin: 11px;
      width: 16px;
      aspect-ratio: 1/1;
    }
  }

  h1 {
    @include header;
  }

  p{
    @include text;
  }

  form{
    div{
      display: flex;
      justify-content: space-between;
      margin: 23px 0;

      input{
        @include rating-option;

        &:hover{
          background-color: $orange-500;
          color: $grey-900;
          cursor: pointer;
          outline: 1px solid $grey-950;
        }

        &:active{
          @include active-btn;
        }
      }

      .active {
        @include active-btn;
      }
    }

    button{
      width: 100%;
      background-color: $orange-500;
      color: $grey-900;
      text-transform: uppercase;
      border: 1px solid $grey-950;
      border-radius: 50px;
      padding: 15px;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 12px;
      letter-spacing: 2px;
      cursor: pointer;

      &:active{
        background-color: $white;
      }
    }
  }
}

#thank-you-state{
  @include section;
  // display: block;
  display: none;
  text-align: center;
  padding: 25px;

  figure{
    margin: 0;
    margin-top: 10px;
  }

  h1 {
    @include header;
    margin: 15px auto 10px;
  }

  p{
    @include text;
    margin-bottom: 10px;
    
  }

  div{
    display: block;
    margin: 20px auto 32px;

    &>span:first-child{
      background-color: $button-bg;
      padding: 8px 13px 5px 13px;
      border-radius: 20px;
      color: $orange-500;
      font-size: 14px;
    }
  }
}



@media screen and (min-width: 375px){
  #rating-state, #thank-you-state {
    max-width: 300px;
  }
}